.logo {

    padding: 1rem 1.5rem 1rem 1rem;
    cursor: pointer;

    a:link,
    a:visited {
        color: inherit;
        text-decoration: none;
    }
}

.logo-svg {
    height: 5rem;
    width: 5rem;

    stroke: #000;
    stroke-width: 3px;
    fill-opacity: 0;
}
